In [7]:
Question 1 - A database is  an organised collection of structured information ,or data ,typically stored electronically in a computer system so that it can be easily accessed and managed.

   NoSQL-A NoSQL database is an approach to design such databases that can accommodate a wide variety of data models. 
(NoSQL) stands for "not only SQL." It is an alternative to traditional relational databases in which data is placed in tables, and data schema is perfectly designed before the database is built.
 (NoSQL) databases are useful for a large set of distributed data.
    
    
    SQL-SQL or Structured Query Language is used to operate on the data stored in a database. SQL depends on relational algebra and tuple relational calculus.

SyntaxError: invalid syntax (1370339854.py, line 1)

In [8]:
Question 2-Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. 
These database objects include tables, sequences, locations, aliases, schemas and indexes.


Create-This command is used to create table in the relational database.
   Ex=
    CREATE TABLE Employee
     (Student_id INT, 
       Name VARCHAR(100), 
       Marks INT); 
Alter-  To add a column,to rename existing column,drop a column 
         , to modify the size of the column or change 
    Ex=
    ALTER TABLE Student 
ADD
(Address  VARCHAR(200)); 

Turncate-This command removes all the records from a table.
But this command will not destroy the table’s structure. 

    Ex=
    TRUNCATE TABLE Student; 
  
DROP-This command completely removes the table from the database 
along with the destruction of the table structure. 

   Ex=
    DROP TABLE Student;

SyntaxError: invalid syntax (1284526923.py, line 1)

In [ ]:
DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL,
but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation.
DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch.


Delete-It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. 
If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted
  Ex-
    DELETE FROM students

WHERE stu_id = '001'; 

Insert-This command is used to enter the information or values into a row.
We can connect one or more records to a single table within a repository using this instruction.

Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 
Update-This command is used to alter existing table records. Within a table, it modifies data from one or more records.
This command is used to alter the data which is already present in a table.
Example :

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

In [ ]:
DQL is used for retrieving data. A user can retrieve data according to his/her requirements using the select command. 

Example: 
If a user wants to retrieve all the from the employee table, the query must be given as follows: 
 

select *from employee;  
asterisk mark (*) indicates that all the rows are retrieved from the table.

In [ ]:
Primary Key  is a unique key.
It can identify only one tuple (a record) at a time.
It has no duplicate values, it has unique values.
It cannot be NULL.
Primary keys are not necessarily to be a single column; more than one 
the column can also be a primary key for a table.


 Foreign Key is a key it acts as a primary key in one table and it acts as 
secondary key in another table.
It combines two or more relations (table) at a time.
They act as a cross-reference between the tables.
For example, DNO is a primary key in the DEPT table and a non-key in EMP

In [ ]:
import pymysql

def mysqlconnect():
	# To connect MySQL database
	conn = pymysql.connect(
		host='localhost',
		user='root',
		password = "pass",
		db='College',
		)
	
	cur = conn.cursor()
	cur.execute("select @@version")
	output = cur.fetchall()
	print(output)
	
	# To close the connection
	conn.close()


if __name__ == "__main__" :
	mysqlconnect()

In [ ]:
Question 7 =
The actual execution of MySQL statements is a bit tricky.
However, the standard does specify the order of interpretation of elements in the query. 
This is basically in the order that you specify, although I think HAVING and GROUP BY could come after SELECT: FROM clause. WHERE clause. SELECT clause. GROUP BY clause. HAVING clause.